.div
{
    width: 400px;
    height: 600px;
    background-color: gray;
    float: left;
    margin: 10px;
}

.time
{
    transition-duration: 0.4s;
}
.btn:hover
{
    background-color:#4CAF50;
    color: white;
}